<div class="jumbotron">
  <h1>Tassle</h1>
  <h3>bookmarks made social</h3>
  <div class="bullet-points">
    <p>• share noteworthy bookmarks</p>
    <p>• browse bookmarks by topic</p>
    <p>• like bookmarks with one click</p>
    <p>• view your bookmarks by topic</p>
    <p>• add bookmarks with the user interface</p>
    <p>• add them by emailing them to the app</p>
  </div>
</div>
